In [1]:
%%capture
!pip install duckdb

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting duckdb
  Downloading duckdb-0.5.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.4 MB)
     |████████████████████████████████| 16.4 MB 3.5 MB/s
Requirement already satisfied: numpy>=1.14 in /usr/local/lib/python3.7/dist-packages (from duckdb) (1.21.6)
Installing collected packages: duckdb
Successfully installed duckdb-0.5.1

<h2>Imports & Setup</h2>

In [6]:
import duckdb
import pandas as pd

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: UserWarning: Config option `displaycon` not recognized by `SqlMagic`.  Did you mean `displaylimit`?
  exec(code_obj, self.user_global_ns, self.user_ns)

In [7]:
con = duckdb.connect(database="../../data/formatted/crimesPrices.db")

(duckdb.IOException) IO Error: Cannot open file "/content/drive/MyDrive/ADSDBProject/formatted/crimesPrices.db": No such file or directory
(Background on this error at: https://sqlalche.me/e/14/e3q8)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

<h2>Crimes Table</h2>

In [8]:
# -- read_csv with custom options
con.execute("CREATE TABLE crimes AS SELECT * FROM read_csv_auto('../../data/landing/persistent/crimes/*.csv');")

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [9]:
con.execute("SELECT * FROM crimes;")

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [ ]:
# %sql DROP TABLE crimes
# %sql DROP TABLE prices

 * duckdb:////content/drive/MyDrive/ADSDBProject/formatted/crimesPrices.db
 * duckdb:////content/drive/MyDrive/ADSDBProject/formatted/crimesPrices.db

Empty DataFrame
Columns: []
Index: []

<h2>Prices Table</h2>

In [10]:
# -- read_csv with custom options
con.execute("CREATE TABLE prices AS SELECT * FROM read_csv_auto('../../data/landing/persistent/prices/*.csv');")

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [11]:
con.execute("SELECT * FROM crimes;")

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])