In [1]:
%%capture
!pip install duckdb
!pip install ipython-sql
!pip install SQLAlchemy
!pip install duckdb-engine

#Drive mount

In [2]:
# Load the Drive helper and mount
from google.colab import drive
drive.mount('/content/drive/', force_remount=True)

Mounted at /content/drive/

#Import & setup

In [3]:
import duckdb
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sqlalchemy
from datetime import datetime as dt
import glob

# Import ipython-sql Jupyter extension to create SQL cells
%load_ext sql
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: UserWarning: Config option `displaycon` not recognized by `SqlMagic`.  Did you mean `displaylimit`?
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
# %sql duckdb:////content/drive/MyDrive/ADSDBProject/formatted/crimesPrices.db
# to use a database file (shared between processes)
mostRecent = glob.glob("/content/drive/MyDrive/ADSDB/ADSDB Project/trusted/*.db")[-1]
con = duckdb.connect(database=mostRecent)

In [5]:
crimes = con.execute("SELECT * FROM crimes").df()
prices = con.execute("SELECT * FROM prices").df()

Impute Nan by 'Unknow' in column 'Last outcome category'

In [49]:
crimes[['Last outcome category']].fillna('Unknown')

                               Last outcome category
0                                            Unknown
1                                            Unknown
2                                            Unknown
3                                            Unknown
4                                            Unknown
...                                              ...
78999                                        Unknown
79000                                        Unknown
79001                                        Unknown
79002  Investigation complete; no suspect identified
79003                       Court result unavailable

[79004 rows x 1 columns]